<section class="wrapper style1 align-center">
  <div class="inner">
    <h2>The Crew</h2>
    <p>Flowboat is so fortunate to have a team of Waterloo's brightest high school minds working together.
    The diverse group of 25 students strive for excellence everyday to bring creativity and technology together to
    break the universe and we couldn't do it without them.</p>
  </div>
  <div class="gallery style2 medium lightbox onscroll-fade-in">
    <app-article *ngFor="let item of items" [member]="item"></app-article>
  </div>
</section>
