<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h1 class="title"><span class="bold">FLOW</span>BOAT</h1>
    <h3 class="subtitle">{{ data.subtitle }}</h3>
    <p class="major">{{ data.description }}</p>
    <ul class="actions vertical">
      <li><a href="#first" class="button big wide smooth-scroll-middle">More</a></li>
    </ul>
  </div>
  <div class="image">
    <img [src]="data.src" alt="" />
  </div>
</section>
