<section class="module bg-dark-60 parallax-bg" data-background="assets/images/banner.png" id="presentation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video-box">
          <div class="video-box-icon"><a class="video-pop-up" href=""><span class="icon-video"></span></a></div>
          <div class="video-title font-alt">Presentation</div>
          <div class="video-subtitle font-alt">Video about our crew coming soon!</div>
        </div>
      </div>
    </div>
  </div>
</section>
