<section class="module bg-dark-60" data-background="assets/images/section-6.jpg" id="presentation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>FlowBoat is an institution where bright young minds come together to be creative with science and technology.
        FlowBoat students and members participate in a variety of programs which challenge their skills in: physics,
        computer science, business, environmental sustainability and anything the team wants to tackle. Built from the
        ground up for high school students, FlowBoat is designed to provide today's youth with the experience they need
        to tackle the problems of tomorrow. Using data science, FlowBoat's crew of diverse students from all across Waterloo
        Region are able to design solutions with meaningful impact. This year, FlowBoat had 96 applicants, twenty of whom
        were selected to join the crew and power our 4 startup ventures. Next year we'll be looking to expand to accommodate
        even more students who can show that they have our FlowBoat spark.</h4>
        FlowBoat Documentary Coming Soon!
        <!--
        <div class="video-box">
          <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>
          <div class="video-title font-alt">Presentation</div>
          <div class="video-subtitle font-alt">Watch the video about our crew!</div>
        </div>
        -->
      </div>
    </div>
  </div>
</section>
